{%extends "::layout.html.twig" %}

{% block html_attributes %}class="no-js"{% endblock %}

{% block widget_title %}
    {% if block('actions') is defined %}
        <div class="widget-header">
            {% if block('title') is defined %}
                <h5 class="widget-title">{{ block('title') }}</h5>
            {% else %}
                <h5 class="widget-title">{{ (admin.breadcrumbs(action)|last).label }}</h5>
            {% endif %}
            <div class="widget-toolbar">
                {{ block('actions') }}
            </div>
            {% if block('editTabs') is defined %}
                <div class="widget-toolbar">
                    {{ block('editTabs') }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% set _widget_title = block('widget_title') %}

{% block stylesheets %}
    <!-- base application asset -->
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sonatacore/vendor/select2-bootstrap-css/select2-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sonataadmin/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sonataadmin/css/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sonataadmin/css/tree.css') }}">
{% endblock %}

{% block jqueryScripts %}{% endblock %}

{% block javascripts %}
    <!--[if !IE]> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <![endif]-->

    <script>
        window.SONATA_CONFIG = {
            CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
            USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };
    </script>

    {#<script src="{{ asset('/bundles/sonataadmin/App.js') }}"></script>#}
    <script src="{{ asset('/bundles/sonataadmin/Admin.js') }}"></script>

    {{ parent() }}

    <script src="{{ asset('/bundles/sonataadmin/vendor/jquery.scrollTo/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('/bundles/sonataadmin/vendor/jquery-form/jquery.form.js') }}"></script>
    <script src="{{ asset('/bundles/sonataadmin/jquery/jquery.confirmExit.js') }}"></script>
    <script src="{{ asset('/bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('/bundles/sonatacore/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('/bundles/sonataadmin/treeview.js') }}"></script>

    {# localize select2 #}
    {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
        {% set locale = app.request.locale %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
    {% endif %}

{% endblock %}

{% block body %}
    {% block sonata_page_content %}
        {% block notice %}
            {% for notice_level in ['success','error','info', 'warning'] %}
                {% set session_var = 'sonata_flash_' ~ notice_level %}
                {% for flash in app.session.flashbag.get(session_var) %}
                    <div class="alert {{ 'alert-' ~ (notice_level=='error'?'danger':notice_level) }}">
                        {{ flash|trans([], 'SonataAdminBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        <div class="row-fluid">

            <div class="content {{ block('side_menu') is defined ? ' span10' : 'span12' }}">
                {% block sonata_admin_content %}

                    {% if block('preview') is defined %}
                        <div class="sonata-ba-preview">
                            {{ _widget_title|raw }}
                            {{ block('preview') }}</div>
                    {% endif %}

                    {% if block('content') is defined %}
                        <div class="sonata-ba-content">
                            {{ _widget_title|raw }}
                            {{ block('content')|raw }}</div>
                    {% endif %}

                    {% if block('show') is defined %}
                        <div class="sonata-ba-show">
                            {{ _widget_title|raw }}
                            {{ block('show') }}</div>
                    {% endif %}

                    {% if block('form') is defined %}
                        <div class="sonata-ba-form">
                            <div class="widget-box widget-color-blue no-border">
                                {{ _widget_title|raw }}
                                {{ block('form') }}
                            </div>
                        </div>
                    {% endif %}

                    {% if block('list_table') is defined or block('list_filters') is defined %}
                        <div class="row">
                            <div class="sonata-ba-list col-sm-9 col-md-9 col-lg-9">
                                <div class="widget-box widget-color-blue no-border">
                                    {{ _widget_title|raw }}
                                    <div class="widget-body">
                                        {{ block('list_table') }}
                                    </div>
                                </div>
                            </div>
                            <div class="sonata-ba-filter col-sm-3 col-md-3 col-lg-3">
                                {{ block('list_filters') }}
                            </div>
                        </div>
                    {% endif %}

                {% endblock %}
            </div>
        </div>

    {% endblock %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% if block('breadcrumb') is defined or action is defined %}
            <div class="col-sm-8 col-md-8 col-lg-8">
                <ul class="breadcrumb">
                    {% if block('breadcrumb') is empty %}
                        {% if action is defined %}
                            {% for menu in admin.breadcrumbs(action) %}
                                {% if not loop.last  %}
                                    <li>
                                        {% if menu.uri is not empty %}
                                            <a href="{{ menu.uri }}">{{ menu.label }}</a>
                                        {% else %}
                                            {{ menu.label }}
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="active">{{ menu.label }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ block('breadcrumb') }}
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
